{% extends 'AppSTF/padre.html' %}
{% load static %}

{% block cuerpo %}

        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{%static 'AppSTF/assets/img/about.jpg' %}" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">STF D'Alexpro</span>
                                    <span class="section-heading-lower">Nosotros</span>
                                </h2>
                                <p>Somos una empresa familiar establecida en el partido de Vicente Lopez desde el año 1995.</p>
                                <p class="mb-0">
                                    Ademas de la reparación y venta de máquinas herramientas nos dedicamosa la fabricación de mangueras a presión de hasta 2" de diámetro interior.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}