{% extends 'AppSTF/padre.html' %}
{% load static %}

{% block cuerpo %}

    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
                
                <form action="/AppSTF/resultadorden/" method="GET">
                    <input type="text" name="cliente" id="Cliente">
                    <input type="submit" value="Buscar">
                </form>
                {% if ordCliente %}
                    <h2>Ordenes encontradas:</h2>
                    {% for orden in ordCliente %}
                        <p>Orden N°: {{orden.id}} Fecha ingreso: {{orden.fechaIngreso}} Estado: {{orden.estado}}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}