{% extends 'AppSTF/padre.html' %}
{% load static %}

{% block cuerpo %}


    <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">

                {% if miFormulario.errors %}
                <p> DATOS INCORRECTOS!</p>
                {% endif %}
                
                <form action="" method="POST">{% csrf_token %}
                    <table>
                        {{ miFormulario.as_table }}
                    </table>
                    <input type="submit" value="Agregar">
                </form>

            </div>
        </div>
    </div>

{% endblock %}